.main-container {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.container {
    background-color: greenyellow;
    width: 500px;
    z-index: -10;
}

.user-input {
    display: flex;
    align-items: center;
    justify-content: center;
}

.ul-list {
    display: flex;
    justify-content: center;
}

.list {
    list-style: none;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0px;
}

.list-item {
    background-color: greenyellow;
    width: 500px;
    padding: 20px;
    border-radius: 10px;
    color: black;
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: 700;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.form h3 {
    color: black;
}

.name {
    width: 100%;
    height: 30px;
    border-radius: 5px;
}

.age {
    width: 100%;
    height: 30px;
    border-radius: 5px;
}

.btn {
    width: 150px;
    height: 50px;
    background-color: darkgreen;
    border: none;
    border-radius: 10px;
}

.err {
    z-index: 1;
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
}

.show {
    display: none;
}

.err-btn {
    width: 150px;
    height: 50px;
    background-color: rgb(255, 0, 149);
    border: none;
    border-radius: 10px;
}

.card {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
}

.card-head {
    background-color: pink;
    text-align: center;
    opacity: 1;
}

.card-body {
    background-color: white;
    color: black;
    text-align: center;
    padding: 50px;
}

.card-body h2,
h1 {
    margin-block-start: 0;
    margin-block-end: 0;
}

.err-op {
    width: 100vw;
    height: 100vh;
    background-color: black;
    opacity: 0.9;
}