.container {
    background-color: rgb(24, 24, 24);
    width: 300px;
    padding: 20px;
    border-radius: 20px;
    text-align: center;
    margin: 10px;
}

.content {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.vote {
    display: flex;
    align-items: center;
}

.votebox {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 60px;
    height: 20px;
    padding: 10px;
}

.votebox.yes {
    background-color: greenyellow;
}

.votebox.no {
    background-color: red;
}

.votebox span {
    padding: 5px;
    background-color: gray;
    border-radius: 3px;
}

.todo {
    display: flex;
    align-items: center;
    justify-content: center;
}